@import "vars";
@import "index";
@import "product";
@import "catalog";
@import "cart";
@import "registration";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
