.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  max-width: 1140px;
}

.top {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-img {
  margin-right: 20px;
}
.top-left {
  padding: 25px 25px;
}
.top-rigth {
  display: flex;
  flex-direction: row;
}
.top-right-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.burger-cont {
  position: absolute;
  background-color: white;
  width: 360px;
  right: 0;
  top: 90px;
  text-align: right;
  padding: 15px;
  z-index: 98;
}
.burger-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.burger-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 25px;
}
.burger-head {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin: 15px 35px;
}
.burger-link {
  color: rgb(172, 172, 172);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin: 5px 55px;
}
.burger-link:hover {
  color: rgb(241, 109, 127);
}

.head {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.head-left {
  width: 49%;
}
.head-rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 49%;
  background-color: rgb(241, 228, 230);
}

.big-text {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-left: 20px;
}

.cen-text {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.end-text {
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu {
  margin-top: 30px;
}
.menu-top {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.menu-text {
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu-text-big {
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wonen {
  background: url(img/women.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.men {
  background: url(img/men.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.7);
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kid {
  background: url(img/kid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bot {
  background: url(img/acs.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.7);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  margin-top: 50px;
  align-content: center;
  margin-bottom: 48px;
}
.product-web {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.h-top {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.p-top {
  color: #9f9f9f;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 57px;
}

.korzina {
  color: #fff;
  position: absolute;
  top: 170px;
  left: 100px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  border: #fff 1px solid;
  padding: 1rem;
  display: none;
  opacity: 80%;
}

.one {
  background-color: #f8f8f8;
  position: relative;
  width: 360px;
}

.one:hover .img-menu-small {
  -webkit-filter: brightness(50%);
  transition: 0.3s all;
}

.one:hover .korzina {
  display: block;
  transition: 2s all;
}

.one-text {
  padding: 1em;
}

.text-h {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.text-pri {
  color: #5d5d5d;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: justify;
}

.pri {
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.foot {
  text-align: center;
  margin-bottom: 48px;
}
.foot-l {
  text-align: center;
  border: #f26376 solid;
  padding: 1em 1em;
  color: #f26376;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.foot-l:hover {
  background-color: #f26376;
  color: #fff;
}

.conditions {
  background: rgb(34, 34, 36);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.conditions-text-top {
  color: rgb(251, 251, 251);
  font-family: "Lato", sans-serif;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.conditions-text {
  color: rgb(251, 251, 251);
  font-family: "Lato", sans-serif;
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
}

.delivery {
  width: 33%;
  text-align: center;
}

.sub {
  background: url(img/bg-bot.png) no-repeat;
  box-shadow: inset 0 0 0 200vw rgba(255, 255, 255, 0.7);
  padding-top: 80px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99%;
  display: flex;
  justify-content: space-between;
}

.sub-left {
  width: 45%;
  text-align: center;
}

.sub-left-foto {
  border-radius: 50%;
  margin-bottom: 25px;
}

.sub-left-text {
  color: rgb(34, 34, 36);
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.sub-rigth {
  text-align: center;
  width: 45%;
}

.sub-rigth-h {
  color: rgb(34, 34, 36);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 200%;
  letter-spacing: 0%;
  text-align: center;
}

.sub-rigth-text {
  color: rgb(34, 34, 36);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  letter-spacing: 0%;
  text-align: center;
}

.button {
  background: rgb(241, 109, 127);
  margin: -3px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
}

.inpt {
  margin-top: 30px;
}

.footer {
  background: rgb(34, 34, 36);
  display: flex;
}

.footer-left {
  color: rgb(251, 251, 251);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 30px;
  width: 46%;
}

.footer-rigth {
  text-align: center;
  width: 45%;
}

.footer-img {
  background-color: #fff;
  padding: 9px;
  margin-top: 24px;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 50vh);
    padding-right: calc(50% - 50vh);
  }
  .bread {
    padding-left: 20px;
  }
  .head-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .head-man {
    margin-left: 200px;
    height: 360px;
  }
  .big-text {
    font-size: 2rem;
  }
  .cen-text {
    font-size: 1.5rem;
  }
  .end-text {
    font-size: 1.5rem;
  }
  .top-rigth {
    padding-right: 20px;
  }
  .conditions {
    padding-top: 40px;
  }
  .conditions-text {
    width: 50%;
  }
  .delivery {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .sub {
    display: flex;
    flex-wrap: wrap;
  }
  .sub-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .sub-rigth {
    margin-top: 40px;
    width: 100%;
  }
  .sub-left-text {
    width: 50%;
  }
}
.bread {
  background-color: rgb(248, 243, 244);
  display: flex;
  justify-content: space-between;
}
.bread-text {
  color: rgb(241, 109, 127);
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bread-rigth {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.bread-link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(99, 99, 99);
  display: flex;
  align-items: center;
}
.bread-link:not(:last-child)::after {
  content: "/";
}
.bread-link:last-child {
  color: rgb(241, 109, 127);
}

.slider {
  border-bottom: 1px solid rgb(231, 230, 230);
  height: 777px;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-arrow-rigth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
}
.slider-arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
}
.slider-img {
  margin-bottom: 15px;
  border: 1px dashed rgb(231, 230, 230);
}

.card {
  display: flex;
  justify-content: center;
}
.card-box {
  width: 1100px;
  height: 600px;
  background-color: white;
  border: 1px solid rgb(231, 230, 230);
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-head {
  color: rgb(241, 109, 127);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 65px;
}
.card-head2 {
  color: rgb(77, 77, 77);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 12px;
}
.card-text {
  color: rgb(94, 94, 94);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 40px;
}
.card-price {
  margin-top: 52px;
  color: rgb(241, 109, 127);
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}
.card-select {
  margin-top: 65px;
  width: 600px;
  border-top: 1px solid rgb(241, 109, 127);
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card-select-text {
  margin-top: 65px;
  color: rgb(111, 110, 110);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}
.card-korzina {
  margin-top: 52px;
  border: 1px solid rgb(242, 99, 118);
  padding: 1rem 2rem;
}
.card-korzina:hover {
  background-color: rgb(242, 99, 118);
}
.card-korzina-link {
  color: rgb(242, 99, 118);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

summary {
  display: block;
}

.filter {
  margin-top: 50px;
  display: flex;
  position: relative;
}
.filter-left {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.filter-head {
  margin-right: 5px;
}
.filter-open {
  position: absolute;
  z-index: 99;
  padding-top: 15px;
  padding-left: 15px;
}
.filter-open[open] .filter-head {
  color: rgb(241, 109, 127);
}
.filter-open[open] path {
  fill: rgb(241, 109, 127);
}
.filter-open[open] {
  box-shadow: 6px 4px 35px gray;
  border: 1px solid rgb(172, 172, 172);
  background-color: white;
}
.filter-content {
  margin-top: 16px;
}
.filter-item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 360px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.filter-item[open] .filter-name {
  border-bottom: 1px solid rgb(172, 172, 172);
}
.filter-item[open] .filter-name-open {
  color: rgb(241, 109, 127);
}
.filter-item-link {
  color: rgb(172, 172, 172);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
  margin-left: 15px;
}
.filter-menu {
  position: absolute;
  width: 360px;
  z-index: 99;
  background-color: white;
}
.filter-name {
  color: rgb(172, 172, 172);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  border-left: 3px solid rgb(241, 109, 127);
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.filter-item-link:hover {
  color: rgb(241, 109, 127);
}
.filter-rigth {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 400px;
}
.filter-rigth-sum {
  display: flex;
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  align-items: center;
  gap: 5px;
  position: relative;
}
.filter-checkbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 100;
  padding: 5px;
  width: 80px;
  box-shadow: 6px 4px 35px gray;
  border: 1px solid rgb(172, 172, 172);
  background-color: white;
  margin-top: 10px;
}
.filter-checkbox-size {
  margin-top: 10px;
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  gap: 5px;
  margin-left: 10px;
}
.filter-checkbox-size:last-child {
  margin-bottom: 10px;
}

.number {
  margin-top: 60px;
  margin-bottom: 70px;
}
.number-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 15px;
  color: rgb(172, 172, 172);
}

.cart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}
.cart-cont {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(172, 172, 172);
  box-shadow: 6px 4px 35px gray;
  width: 650px;
  height: 306px;
  position: relative;
  margin-top: 40px;
}
.cart-text {
  margin-left: 30px;
}
.cart-head {
  margin-top: 22px;
  margin-bottom: 40px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.cart-exit {
  position: absolute;
  right: 28px;
  top: 22px;
}
.cart-inf {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(87, 87, 87);
  display: flex;
  align-items: center;
}
.cart-inf-pri {
  color: rgb(241, 109, 127);
}
.cart-inf-left {
  color: rgb(111, 110, 110);
}
.cart-inf-left-border {
  border: 1px solid rgb(172, 172, 172);
  padding: 0 1rem;
}
.cart-botton {
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 120px;
}
.cart-botton-push {
  padding: 1rem 2rem;
  border: 1px solid rgb(172, 172, 172);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  color: rgb(172, 172, 172);
  background: white;
  text-align: center;
}
.cart-botton-push:hover {
  color: white;
  background: rgb(241, 109, 127);
}

.form-input {
  width: 360px;
  margin-top: 40px;
  margin-left: 120px;
}
.form-input-area {
  border: 1px solid rgb(172, 172, 172);
  outline: none;
  margin: 0;
  width: 340px;
  height: 40px;
  background: white;
  margin-top: 20px;
  padding-left: 10px;
}
.form-input-area::-moz-placeholder {
  color: rgb(172, 172, 172);
  opacity: 0.4;
}
.form-input-area::placeholder {
  color: rgb(172, 172, 172);
  opacity: 0.4;
}

label {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(34, 34, 34);
}

.basket {
  width: 360px;
  height: 214px;
  background-color: rgb(245, 243, 243);
  margin-top: 40px;
  margin-left: 120px;
}
.basket-sub {
  margin-top: 40px;
  margin-right: 40px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(74, 74, 74);
}
.basket-total {
  margin-top: 12px;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(34, 34, 34);
}
.basket-total-span {
  font-size: 16px;
  font-weight: 700;
  color: rgb(241, 109, 127);
}
.basket-line {
  border: 0.5px solid rgb(172, 172, 172);
  margin: 20px 42px;
  opacity: 0.4;
}
.basket-botton {
  padding: 1rem 2rem;
  border: 1px solid rgb(172, 172, 172);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(172, 172, 172);
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 17px 43px;
}
.basket-botton:hover {
  color: white;
  background: rgb(241, 109, 127);
}

input[type=get] {
  border: 1px solid rgb(172, 172, 172);
  outline: none;
  margin: 0;
  width: 100px;
  height: 40px;
  background: white;
  margin-top: 20px;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .cart {
    padding-left: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cart-cont {
    width: 95%;
    order: 0;
  }
  .cart .order {
    order: 1;
  }
  .cart-botton {
    order: 2;
    margin-bottom: 40px;
  }
  .cart .form-input {
    order: 3;
    width: 45%;
    margin-left: 20px;
  }
  .cart .basket {
    order: 3;
    width: 45%;
    margin-left: 20px;
    margin-top: 96px;
  }
}
.reg {
  display: flex;
  flex-direction: row;
  width: 400px;
}
.reg-head {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(34, 34, 34);
}
.reg-input {
  border: 1px solid rgb(172, 172, 172);
  outline: none;
  margin: 0;
  width: 340px;
  height: 40px;
  background: white;
  margin-top: 20px;
  padding-left: 10px;
}
.reg-input::-moz-placeholder {
  opacity: 0.4;
}
.reg-input::placeholder {
  opacity: 0.4;
}
.reg-radio {
  margin: 20px 0;
}
.reg-radio:last-child {
  margin-left: 20px;
}
.reg-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(172, 172, 172);
  margin-top: 15px;
}

button {
  padding: 1rem 2rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  background-color: white;
  color: rgb(241, 109, 127);
  border: 1px solid rgb(241, 109, 127);
  margin-top: 40px;
  margin-bottom: 96px;
}

#Vector {
  fill: rgb(241, 109, 127);
}

button:hover {
  background-color: rgb(241, 109, 127);
  color: white;
}
button:hover #Vector {
  fill: white;
}

.description {
  margin-left: 125px;
  width: 600px;
}
.description-head {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 22px;
}
.description-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
.description-list {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

li:before {
  content: url(img/registration/Vector.svg);
}

@media (min-width: 767px) and (max-width: 1024px) {
  .cart {
    display: flex;
    flex-wrap: wrap;
  }
  .reg {
    width: 46%;
    margin-left: 20px;
  }
  .description {
    width: 46%;
    margin-left: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

html,
body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */